.wrapper {
  border: 5px solid #E0E0E0;
  margin: 20px;
  max-width: 700px;
}
.inner-wrapper {
  background-color: #1D1D1D;
  padding: 20px;
}
/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: white;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: 10px;
    z-index: 99;
}
.slick-prev {
     left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color:black;
}
/*スライド画像の横幅可変*/
img {
  margin: 0 auto;
  max-width: 50vw;
  height: auto;
}